aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
Django
djangorestframework
frozenlist
idna
multidict
openai
python-dotenv
pytz
requests
sqlparse
# tqdm
# urllib
yarl
Pillow
python-decouple
six
